@charset "UTF-8";

@import "setup_mixin";

//전역변수
$de_url:'/images/';
$de_color:#212121;
$de_font_name:'맑은 고딕', 'Malgun Gothic', 'Apple Gothic', sans-serif;

* {
    margin:0;
    padding:0;
    -webkit-text-size-adjust:none;
    word-break:keep-all;
    box-sizing:border-box;
}
body {
    $de_font_size:14px;
    $de_font_family:$de_font_name;
    $de_line_height:100%;
    
    background:#fff;
    color:#333;
    font-size:$de_font_size;
    font-family:$de_font_family;
    line-height:$de_line_height;
    letter-spacing:0;
    box-sizing:border-box;
}
img {
    border:0 none;
    vertical-align:top;
}

a {
    &:link{text-decoration:none;}
    &:visited{text-decoration:none;}
    &:hover{text-decoration:none;}
    &:active{text-decoration:none;}
}

ol, ul, li {
    list-style:none;
    -webkit-padding-start:0;
}
label {vertical-align:middle;}
i, em {font-style:normal;}

h1, h2, h3, h4, h5, h6 {font-weight:normal;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;} /* html5 태그 전용 */
table {
    width:100%;
    border:0;
    border-collapse:collapse;
    table-layout:fixed;
}
table {
    caption {
        width:100%;
        height:0;
        overflow:hidden;
        font-size:medium;
        line-height:normal;
        word-break:break-all;
        opacity:0;
    }
} 
table {
    th, td {
        font-size:14px;
        font-family:'Malgun Gothic', sans-serif;
        letter-spacing:-1px;
        word-break:break-all;
        word-wrap:break-word;
    }
}
button {
    padding:0;
    border:none;
    background:none;
    letter-spacing:-1px;
    cursor:pointer;
    &::-moz-focus-inner{
        border:0;
        padding:0;
    }
}
fieldset {border:0;}
legend {
    width:0;
    height:0;
    overflow:hidden;
    font-size:medium;
    line-height:normal;
    word-break:break-all;
    opacity:0;
}

input, select, textarea {vertical-align:middle;}

select {border:0 none;}
textarea {
    padding:0;
    border:0;
    background:none;
}

/* IE7이하만 사용 */
.clfix:after{display:block; content:''; height:0; clear:both; visibility:hidden;}
* html .clfix{height:1%;} /* Hides from IE-mac */
.clfix{zoom:1;} /*for IE 5.5-7*/

.hide {
    display:inline-block;
    position:absolute;
    width:0 !important;
    height:0 !important;
    overflow:hidden !important;
    font-size:medium;
    line-height:normal;
    word-break:break-all;
    opacity:0 !important;
}

.hand {cursor:pointer}

/* position */
.pos_rel {position:relative;}
.pos_abs {position:absolute;}

/* align */
.al_l {text-align:left;}
.al_c {text-align:center;}
.al_r {text-align:right;}

/* float */
.fl_l {float:left;}
.fl_r {float:right;}

/* word space */
.ls0 {letter-spacing:0;}

/* font */
.fs14 {font-size:14px;}
.fs16 {font-size:16px;}

/* color */
.fc_point {color:#e4007f;}

/* line space */
.ls28 {line-height:28px;}

/* spaing */
.mt4 {margin-top:4px !important;}
.mr4 {margin-right:4px !important;}
.mb4 {margin-bottom:4px !important;}
.ml4 {margin-left:4px !important;}
.pt4 {padding-top:4px !important;}
.pr4 {padding-right:4px !important;}
.pb4 {padding-bottom:4px !important;}
.pl4 {padding-left:4px !important;}

/* underline */
.b_line {
    padding-bottom:1px;
    border-bottom:1px solid #e4007f;
}