
/********************* 
width 
@include mwidth (1280px);
@include flex(1280px, min);
@include mwidth($width:1280px, $min:min);
***************************/
@mixin mwidth($width:1024px, $min:'none') {
	@if('none' == $min) {
		width:$width;
	} @else {
		#{$min}-width:$width;
	}
}

@mixin elps_st($width:100%) {
  width:$width;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  word-wrap:normal;
}

@mixin elps_mt($height:48px, $lineh:24px, $clamp:2) {
  display:-webkit-box;
  width:100%;
  overflow:hidden;
  max-height:$height;
  text-overflow:ellipsis;
  word-break:break-all;
  line-height:$lineh;
  -webkit-line-clamp:$clamp;
  -webkit-box-orient:vertical;
}

/********************* 
flex 
@include flex;
@include flex($inline);
@include flex($inline:inline);
***************************/
@mixin flex($inline:block) {
  @if('inline' == $inline) {
      display:-webkit-#{$inline}-box;
      display:-moz-#{$inline}-box;
      display:-ms-#{$inline}-flexbox;
      display:-webkit-#{$inline}-flex;
      display:flex;
  } @else {
      display:-webkit-box;
      display:-moz-box;
      display:-ms-flexbox;
      display:-webkit-flex;
      display:flex;
  }
}

/* 이승찬 : 소스 협의 후 주석 제거 예정 */

/*****************************************
*	Clear
*
.test-clear {
	@include clearfix();
}
*****************************************/
@mixin clearfix() {
	zoom:1; // for IE 5.5-7
	&:after {
		content:'';
		display:block;
		visibility:hidden;
		clear:both;
		overflow:hidden;
		width:0;
		height:0;
	}
	@at-root * html #{&} {
		height:1%; // Hides from IE-mac
	}
}
@mixin clearfix2() {
	&:after {
		content:'';
		display:block;
		clear:both;
	}
}


/*****************************************
*	 Border Radius
* 
.test-border-radius {
	@include border_radius(20px);
	@include border_radius(10px 20px);
	@include border_radius(10px 20px 5px);
	@include border_radius(10px 20px 5px 0);
}
*****************************************/
@mixin border_radius($radius) {
	-webkit-border-radius:$radius;
	-moz-border-radius:$radius;
	border-radius:$radius;
}



/*****************************************
*	 Web Font
*
@font-face { @include font_face('Noto Sans Kr', '/font/NotoSans-Bold', 700); }
*****************************************/
@mixin font_face($name, $path, $weight:null) {
	font-family:$name;
	src:url($path + '.eot');
	src:url($path + '.eot#iefix') format('embedded-opentype'),
		url($path + '.woff2') format('woff2'),
		url($path + '.woff') format('woff'),
		url($path + '.ttf') format('truetype');
	font-weight:$weight;
	font-style:normal;
}


/*****************************************
*	 Box Shadow
*
.test-box-shadow {
	@include box_shadow(inset 0 0 1px 2px #000, 1px 3px 10px rgba(0,0,0,0.5));
	@include box_shadow(none);
}
*****************************************/
@mixin box_shadow($shadow...) {
	$result:();

	@if (length($shadow) == 1) {
		$result:$shadow;
		// @debug "단일속성";
	} @else {
		@for $i from 1 through length($shadow) {
			$result:append($result, nth($shadow, $i), 'comma');
		}
		// @debug "다중속성";
	}

	@if (length($result) > 0) {
		box-shadow:$result;
	}
}


/*****************************************
*	 Transition
*
.test-transition {
	@include transition();
	@include transition(width 1s ease-in-out 0.5s);
}
*****************************************/
@mixin transition($transition...) {
	$transition-base:all 0.6s ease-in-out;
	$result:'';
	
	@if (length($transition) == 0) {
		$result:$transition-base;
	} @else {
		$result:$transition;
	}

	// -webkit-transition:$transition;
	// -moz-transition:$transition;
	// -o-transition:$transition;
	transition:$transition;
}

/* //이승찬 */